@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&display=swap');



:root{
    --color-fondo:black;
    --color-texto:white;
}




*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    align-items: center;
    font-family: "Exo", serif;
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1; /* Lo envía al fondo */
}

body{
    overflow: hidden;
}

body,html{
    height: 100vh;
    max-height: 100vh;
    max-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-fondo);
    z-index: 0;
}   

#main_div{
    perspective:1000px;
    position:relative;
}

.contenedor_sistemas{
    transition: transform 4s cubic-bezier(1,0,1,0); /* Efecto de despegue     */
    transform-style: preserve-3d; 
}

@media (max-width: 1024px) {
    .contenedor_sistemas{
        scale: 0.8;
    }
}

@media (max-width: 768px) {
    .contenedor_sistemas{
        scale: 0.6;
    }
}

@media (max-width: 430px) {
    .contenedor_sistemas{
        scale: 0.4;
    }
}

.titulo{
    color: var(--color-texto);
    font-size: 150px;
    text-align: center;
    align-items: center;
    font-weight: 600;
    font-style:italic;
}


.sub_titulo{
    color: var(--color-texto);
    font-size: 30px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 0;
    font-weight: 200;
}

@media (max-width: 430px) {
    .sub_titulo{
        font-size: 40px;
    }
}

.div_sistemas{
    text-align: center;
    padding: 50px 50px 0px 50px;
}

.lista_sistemas{
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    color: var(--color-texto);
    gap: 20px;
}

@media (max-width: 1024px) {
    .lista_sistemas{
        grid-template-columns: repeat(2,1fr);
    }
}

.sistema{
    height: 80px;
    font-size: 30px;
    align-content: center;
    border-radius: 20px;
}

@media (max-width: 430px) {
    .sistema{
        height: 100px;
        border-radius: 50px;
    }
}

.button_s{
    background: none;
    box-shadow: none;
    border: none;
    cursor: pointer;
    font-size: 25px;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    padding-left:20px;
    padding-right: 20px;
    color: var(--color-texto);
    background-color: rgba(255,255,255,0.1);
    transition: transform 1s ease;
}

@media (max-width: 430px) {
    .button_s{
        font-size: 40px;
    }
}

#i_button_s{
    font-size: 30px;
}

.button_s:hover{
    background-color:var(--color-texto) ;
    color: var(--color-fondo);
}

#planet_div{
    display: none;
}

.mostrar_planetas{
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.titulo_planetas{
    color: var(--color-texto);
    font-size: 80px;
    margin-top: 50px;
    margin-bottom: 30px;
}

@media (max-width: 430px) {
    .titulo_planetas{
        font-size: 60px;
        margin-top:40px;
        margin-bottom: 10px;
    }
}

.sistema_solar{
    background: none;
    box-shadow: none;
    border: var(--color-texto) 1px solid;
    border-radius: 10px;
    padding: 5px 20px 5px 20px;
    color: var(--color-texto);
    font-size: 30px;
    background-color: rgba(255,255,255,0.1);
    cursor: pointer;
    transition: all 500ms ease;
}

@media (max-width: 430px) {
    .sistema_solar{
        font-size: 20px;
        padding:5px 10px 5px 10px;
        margin-bottom: 10px;
    }
}

.sistema_solar:hover{
    background-color: var(--color-texto);
    color: var(--color-fondo);
}

.div_datos{
    margin-top: 100px;
    margin-bottom: 100px;
}

@media (max-width: 430px) {
    .div_datos{
        margin-top: 50px;
        margin-bottom: 50px;
    }
}

.ls_datos{
    display: flex;
    text-align: center;
    justify-content:center ;
    align-items: center;
    list-style: none;
    gap: 20px;
}

@media (max-width: 430px) {
    .ls_datos{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        padding: 10px; /* Add padding to create separation from the edges */
    }
}

.bt_datos{
    background: none;
    box-shadow: none;
    border: none;
    color: var(--color-texto);
    font-size: 25px;
    background-color: rgba(255,255,255,0.1);
    border-radius: 10px;
    padding: 10px 20px 10px 20px;
}

@media (max-width: 430px) {
    .bt_datos{
        font-size: 20px;
    }
}

.div_botones{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.nombre_planeta{
    color: var(--color-texto);
    font-size: 40px;
}

@media (max-width: 430px) {
    .nombre_planeta{
        font-size: 30px;
        margin-top: 10px;
    }
}

.flechas_botones{
    background:none;
    box-shadow: none;
    border: none;
}


#ico_bt{
   font-size: 50px;
}

@media (max-width: 430px) {
    #ico_bt{
        font-size: 50px;
    }
}

#ico_bt:hover{
    transform: scale(1.1);
}

.parte_inferior{
    display: flex;
    justify-content: center;
    gap: 100px;
    margin-top: 30px;
    overflow: hidden;
}


.img_planeta{
    width: 800px;
    animation: rotation 240s infinite linear;
}

@media (max-width: 430px) {
    .img_planeta{
        width: 400px;
    }
}






@keyframes rotation{
    0%{
        transform: rotate(0deg);
    }
    100%{ 
        transform: rotate(360deg);
    }
}